name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - cjs
          - es
          - types
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2.3.1

      - name: Setup Node.js
        uses: actions/setup-node@v1.4.2
        with:
          node-version: 14.x

      - name: Install npm dependencies
        run: npm install

      - name: Run build
        run: npm run build:${{ matrix.module }}

      - name: Upload build
        uses: actions/upload-artifact@v2.1.0
        with:
          name: ${{ matrix.module }}
          path: ./${{ matrix.module }}/
