---
name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - cjs
          - es
          - types
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4.1.0

      - name: Setup Node.js
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 18.x

      - name: Install npm dependencies
        run: npm install

      - name: Run build
        run: npm run build:${{ matrix.module }}

      - name: Upload build
        uses: actions/upload-artifact@v3.1.3
        with:
          name: ${{ matrix.module }}
          path: ./${{ matrix.module }}/

  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4.1.0

      - name: Setup Node.js
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 18.x

      - name: Install npm dependencies
        run: npm install

      - name: Build docs
        run: npm run docs:build

      - name: Upload docs
        uses: actions/upload-artifact@v3.1.3
        with:
          name: docs
          path: ./docs/
