name: docs

on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2.3.2

      - name: Setup Node.js
        uses: actions/setup-node@v1.4.2
        with:
          node-version: 14.x

      - name: Install npm dependencies
        run: npm install

      - name: Build docs
        run: npm run docs:build

      - name: Upload build
        uses: actions/upload-artifact@v2.1.3
        with:
          name: docs
          path: ./docs/
