---
name: graphs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  graphs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4.1.6

      - name: Install Graphviz
        run: sudo apt-get install -y graphviz

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.2
        with:
          node-version: 14.x

      - name: Install npm dependencies
        run: npm install

      - name: Cleanup graphs
        run: npm run graphs:clean

      - name: Build graphs
        run: npm run graphs:build

      - name: Upload build
        uses: actions/upload-artifact@v4.3.3
        with:
          name: graphs
          path: ./graphs/
