---
name: publish

on:
  push:
    tags:
      - v*.*.*

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4.2.2

      - name: Setup Node.js
        uses: actions/setup-node@v4.1.0
        with:
          node-version: 18.x

      - name: Install npm dependencies
        run: npm install

      - name: Run tests
        run: npm run test

  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4.2.2

      - name: Setup Node.js
        uses: actions/setup-node@v4.1.0
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org/
          scope: '@sequeljs'

      - name: Install npm dependencies
        run: npm install

      - name: Publish project
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-docs:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4.2.2

      - name: Setup Node.js
        uses: actions/setup-node@v4.1.0
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org/
          scope: '@sequeljs'

      - name: Install npm dependencies
        run: npm install

      - name: Build docs
        run: npm run docs:build

      - name: Publish docs
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
