---
name: super-linter

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  super-linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4.1.1

      - name: Run Super-Linter
        uses: github/super-linter@v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_JSON: true
          VALIDATE_MD: true
          VALIDATE_TYPESCRIPT_ES: true
          VALIDATE_YAML: true
